

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
   
    z-index: 1000;
}
.logo {
  width: 70px;
  height: 70px;
}

.navbar a {
  color: #010408;
  text-decoration: none;
  margin-left: 30px;
}
.navbar a:hover{
  color: green;
  font: bold;

}


.navbar {
  position: relative;
  display: flex;
  text-decoration: none;


  
  align-items: center;
  
  
  margin:0px 60px;
  font-size: 25px;
 
  padding: 10px 60px;
}
.navbar .login{
  color: red;
  background: green;
}
