
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

body{
      font-family: 'Anton', sans-serif;
      font-family: 'PT Serif', serif;
      text-rendering: optimizeLegibility;
      line-height: 1.3;
      font-size: 1.6rem;
}


 .row{
    max-width: 114rem;
    margin: 0 auto;
    }


.btn{
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: 5rem;
    background:#103f44;
    font-size: 1.7rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
    background-image: linear-gradient(to bottom,#43B65C,#E2D);
}
.btn:hover{
    color: black;
}


.btn:hover,
.btn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
  

  





header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1rem 9%;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.logo {
  width: 70px;
  height: 70px;
}
 

 /* ###### Navigation Bar ####### */
.navbar a {
  color: #010408;
  text-decoration: none;
  margin-left: 30px;
}


.navbar a:hover{
  color: green;
  font: bold;

}


.navbar {
  position: relative;
  display: flex;
  text-decoration: none;
  align-items: center;
  margin:0px 50px;
  font-size: 25px;
  padding: 10px 60px;
}

.navbar .login{
  color: #fff;
  
}


/* ###### BUILT TO MAKE SUCCESS ####### */

.section-1 {
  margin-top: 100px;
  margin-left: 8rem;
}

.content-1 {
  margin-top: 10rem;
  margin-left: 10rem;
}

.built-image {
  width: 450px;
  height: 315px;
}

.built-text {
  font-size: 50px;
  width: 44rem;
  color: #2EA849;
  
}


/* ###### UTILIZE YOUR TIME ####### */

.section-2 {
  margin-top: 100px;
  margin-left: 8rem;
}
.utilize-image {
  width: 600px;
  height: 430px;
}

.content-utilize {
  margin-top: 10rem;
  width: 30rem;
}


.utilize-time-text {
  margin-bottom: 4rem;
  font-size: 2rem;
  color: #2EA849;
}



/* ###### GYM ACCESS CONTROL  ####### */

.section-3 {
  margin-top: 100px;
  margin-left: 8rem;
}

.content-3 {
  margin-left: 10rem;
}




#gymaccesstxt {
  color: #2EA849;
}



.gym-text {
  width: 38rem;
  margin-top: 4rem;
}

#gymaccess-btn{
  margin-top: 9rem;
}

.gymaccess-image{
  width: 410px;
  height: 320px;
}


/* ###### Body & Soul gym management system  ####### */



.section-4 {
  margin-top: 100px;
  margin-left: 8rem;
}


.chartmng-image{
  width: 474px;
  height: 413px;
  margin-left: 2rem;
}

.content-4{
  margin-top: 5rem;
  

}
.gym-mng-txt{
  margin-bottom: 3rem;
  color: #2EA849;
}

#gym-mng-img{
  margin-top: 5rem;

}

.get-member-txt{
  width: 42rem;
}



/* ###### WHY SHOULD YOU PICK US ####### */
.section-5 {
  margin-top: 100px;
  margin-left: 8rem;
}
.datatable-image{
  width: 560px;
  height: 400px;

}

.content-5{

  margin-top: 5rem;
  margin-left: 10rem;
}

#pickus-txt{
  margin-bottom: 4rem;
  color: #2EA849;
}

.reason-txt{
  font-size: 2.5rem;
  margin-left: 2rem;
}

